<!-- Jumbotron -->
<!-- <style>
    .jumbotron {
        background-color: darkslategray;
    }
</style> -->
<!-- <div class="jumbotron">
    <a class="btn btn-primary btn-lg" href="order" role="button">Lihat Menu</a>
</div> -->

<!-- Konten -->
<div class="container" id="konten">
    <div class="row">
        <div class="col-md-4 text-white">
            <h2>Tentang Kami</h2>
            <p>Kami adalah coffee shop yang berkomitmen untuk memberikan pengalaman kopi terbaik kepada pelanggan kami.
            </p>
        </div>
        <div class="col-md-4 text-white">
            <h2>Kontak</h2>
            <p>Jika Anda memiliki pertanyaan atau saran, jangan ragu untuk menghubungi kami.</p>
        </div>
    </div>
</div>