<%- include('partials/navbar') %>



    <!-- Tambahkan referensi ke Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {

            background-size: 150vh;

            background-image: url(https://img.freepik.com/free-photo/warmth-cafe-dull-day-oslo_53876-139512.jpg?w=1480&t=st=1697208752~exp=1697209352~hmac=e662c8e415e624771d4a6d18ade7f43efd05e737b68882e24acfb8c3913b7c69);


        }
    </style>


    <div class="container">
        <h1 class="text-center">Galeri Foto</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1575037614876-c38a4d44f5b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlJTIwZHJpbmtpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60"
                        class="card-img-top" alt="Gambar 1">
                    <div class="card-body">
                        <p class="card-text"> Last Nigh</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlJTIwZHJpbmtpbmclMjBjb2ZlZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=1000&q=60"
                        class="card-img-top" alt="Gambar 2">
                    <div class="card-body">
                        <p class="card-text">Beauty</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlJTIwZHJpbmtpbmclMjBjb2ZlZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=1000&q=60"
                        class="card-img-top" alt="Gambar 3">
                    <div class="card-body">
                        <p class="card-text">Good Cofee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>
    <%- include("partials/footer") %>