<style>
    .box h1 {
        color: aliceblue;
    }
</style>

<div class="hero-section m-5">
    <div class="container text-center text-white">
        <h1>Selamat Datang Great Cofee Shop</h1>
        <h3>Kasta Tertinggi Dari Pecinta Cofee</h3>
    </div>
</div>