<%- include('partials/navbar') %>
    <style>
        body {

            background-size: 150vh;
            background-image: url(https://img.freepik.com/free-photo/warmth-cafe-dull-day-oslo_53876-139512.jpg?w=1480&t=st=1697208752~exp=1697209352~hmac=e662c8e415e624771d4a6d18ade7f43efd05e737b68882e24acfb8c3913b7c69);
            color: aliceblue;

        }
    </style>
    <div class="container">
        <div class="row">
            <!-- form login -->
            <div class="col-md-12">
                <form id="form-login" action="/login" method="post" class="mt-5">
                    <% if(messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= messages.error %>
                        </div>
                        <% } %>
                            <div class="mb-3">
                                <label for="formEmail" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="formEmail"
                                    placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="formPassword" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="formPassword"
                                    placeholder="Password anda">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary float-right">Masuk</button>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary float-right">Daftar</button>
                                    <a href="register.ejs"></a>
                                </div>
                            </div>
                </form>
            </div>
        </div>

        <%- include("partials/footer") %>