<%- include('partials/navbar') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <style>
        body {

            background-size: 150vh;

            background-image: url(https://img.freepik.com/free-photo/warmth-cafe-dull-day-oslo_53876-139512.jpg?w=1480&t=st=1697208752~exp=1697209352~hmac=e662c8e415e624771d4a6d18ade7f43efd05e737b68882e24acfb8c3913b7c69);


        }
    </style>

    <body>
        <!-- <style>
            .table {
                background-color: darkslategrey;
                
            }
        </style> -->
        <table class="table table-striped text-white">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Makanan</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Harga</th>
                </tr>
            </thead>
            <tbody>
           
                    <tr>
                        <th scope="row">2</th>
                        <td>Nasi Goreng</td>
                        <td>Nasi, ayam, sayuran, kecap</td>
                        <td>Rp. 12.000</td>
                        <td href="#" class="btn btn-primary">Buy</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Spaghetti Carbonara</td>
                        <td>Spaghetti, telur, keju, bacon</td>
                        <td>Rp. 18.000</td>
                        <td href="#" class="btn btn-primary">Buy</td>
                    </tr>
                                       <!-- Tambahkan lebih banyak baris sesuai dengan menu makanan yang Anda miliki -->
            </tbody>
        </table>

    </body>

    </html>

    <%- include("partials/footer") %>